*{
    margin: 0;
    padding: 0;
}

main{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(black 50%, rgb(18, 18, 18),rgb(90, 90, 90));
  
}

#img_banner{
    
    width: 100%;
}

nav{
    background-color: black;
    
    height: 130px;
    width: 100%;
}

.div_banner{
    background-color: black;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
    
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    
}



#img_menu{
    height: 140px;
    width: 140px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

nav ul li{
    list-style-type: none;
    
}

nav ul li:hover{
    transform: rotate(30deg);
}

div ul li{
    color: white;
    font-family: 'Libre Baskerville', serif;
    list-style-type: none;
}


nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
}

.div_menu{
    background-color: black;
    display: flex;
    height: 140px;
    width: 100%;
    position: fixed;
}

/* grilla para las secciones del main */
#grilla_main{
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 900px 900px 900px;
    grid-template-areas: "a1"
                         "a2"
                         "a3";
               
}

/* grilla de los articulos */
#info_uno{
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: 100px 400px 350px;
    grid-template-areas: "titulo"
                         "info"
                         "img";
}

.img_titulo{
    height: 120px;
    width: 120px;
    background-size: 100% auto;
}

/* clase para los parrafos del main */
.p_info{
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
}

.h2_article{
    color: white;
    font-family: 'Permanent Marker', cursive;
}

.div_article{
    display: flex;
}


.div_img_art{
    height: 200px;
    width: 100%;
    grid-area: img;

}

.img_art{
    height: 100%;
    width: 100%;
    grid-area: img;
}

#info_dos{
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: 200px 100px 600px;
    grid-template-areas: "img"
                         "titulo"
                         "info";
}

#info_tres{
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: 100px 600px 200px;
    grid-template-areas: "titulo"
                         "info"
                         "img";
}

.div_h2{
    display: flex;
    align-items: center;
    
}

/* --------------------------------------------------CSS PARA LA GALERIA-------------------------------------------------------- */
#grilla_galeria{
    display: grid;
    height: 3300px;
    grid-template-columns: 90%;
    grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px;
    grid-template-areas: "foto1"
                         "foto2"
                         "foto3"
                         "foto4"
                         "foto5"
                         "foto6"
                         "foto7"
                         "foto8"
                         "foto9"
                         "foto10";
    align-content: space-around;
    justify-content: center;
    
}

#grilla_galeria div img{
    height: 100%;
    width: 100%;
  
}

/* -----------------------------------------------CSS PARA CONTACTO------------------------------------------------ */



#main_contacto{
    height: 600px;
}







/* ---------------------------------------------------MEDIA QUERY---------------------------------------------------------------- */

@media only screen and (max-width: 600px) {

    nav ul{
        flex-direction: column;
    }

    #img_menu{
        height: 100px;
        width: 100px;
       
    }

    .div_menu{
        height: 60px;
        position: absolute;
    }

    nav a{
        font-size: 15px;
    }

  


}

@media only screen and (min-width: 990px){
    #grilla_main{
        height: 100%;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 100%;
        justify-content: space-evenly;
        grid-template-areas: "c1 c2 c3";
    }
    
    #grilla_galeria{
        height: 1600px;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 500px 300px 300px 300px;
        grid-template-areas: "f1 f1 f1"
                             "f2 f3 f4"
                             "f5 f6 f7"
                             "f8 f9 f10";
     align-content: space-around;
    }

    #foto1{
        grid-area: f1;
    }

    .div_menu{
        position: fixed;
    }

    .img_art_2{
        height: 100%;
        width: 100%;
        transform: translate(0px, -150px);
    }
}